*{
    margin: 0;
    padding: 0;
}

nav#menu ul{
    text-transform: uppercase;
    list-style-type:none;
    position: absolute;
    top: 60px;
    left: 900px;
}
nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background-color: rgb(128, 44, 207);
    padding: 10px;
}

body{
    background: blueviolet


}
header{
    background-color: antiquewhite;
    padding-top: 70px;
    padding-bottom: 10px;
    position: relative;
}